/*цвет основного текста #212121*/


/*вторичный цвет текста #757575*/


/*белый текст #FFFFFF*/

:root {
    --primary-text-color: #212121;
    --title-text-color: #212121;
    --title-text-grey: #757575;
    --accent-color: #2196f3;
    --primary-background-color: #ffffff;
    --primary-background-button: #f5f4fa;
}

html {
    box-sizing: border-box;
}

body {
    background-color: var (--primary-background-color);
    color: var (--primary-text-color);
    font-family: roboto, sans-serif;
    margin: 0;
}

.logo-primary {
    color: #2196f3;
}

.logo-link {
    color: #212121;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    text-decoration: none;
    margin-top: 24px;
    margin-bottom: 25px;
    margin-right: 85px;
}


/*site nav*/

.site-nav {
    display: flex;
}

.link {
    color: #212121;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 0;
}

.site-nav.link {
    color: #212121;
}

.site-nav li {
    margin-right: 0px;
}

ul.site-nav.list {
    padding: 0px 0px 0px 0px;
}

.site-nav .item {
    margin-right: 50px;
}

.site-nav .link:hover {
    color: #2196f3;
}

.site-nav .link:focus {
    color: var(--primary-background-button);
}


/*main-nav*/

.container.main-nav {
    display: flex;
    align-items: center;
}

.work-section {
    display: flex;
    align-items: center;
    padding-top: 94px;
}


/*feedbeack menu*/

.feedbeack {
    color: var(--title-text-grey);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 0;
}

.feedbeack:hover {
    color: #2196f3;
}

.feedbeack:focus {
    color: var(--primary-background-button);
}

.section p {
    margin-top: 0px;
    margin-bottom: 0px;
}

ul {
    list-style-type: none;
}

.comand p {
    margin-bottom: 0px;
    margin-top: 0px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    margin-top: 0;
    margin-bottom: 0;
    margin-top: 0px;
}

.hero {
    text-align: center;
}

.hero-title {
    margin-top: 0;
    margin-bottom: 40;
    margin-left: auto;
    margin-right: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    margin-bottom: 40px;
    text-align: center;
    padding-bottom: 0px;
    padding-top: 0px;
    color: var(--primary-text-color);
}

h2 {
    margin-bottom: 50px;
    margin-top: 0px;
    font-family: roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--primary-text-color);
}

h3 {
    font-family: roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    margin-top: 0;
    margin-bottom: 0px;
    marker: none;
    color: #212121;
}

h4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-background-button);
    text-decoration: none;
}

h5 {
    font-family: Roboto;
    font-style: normal;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--title-text-grey);
}

.container-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul.social-icon {
    margin: 0px;
    padding: 0px;
}

ul.list {
    padding: 0px;
    margin: 0px;
}

ul.works {
    display: flex;
    align-items: center;
    padding-left: 0px;
}

li.works-kard {
    margin-right: 30px;
}

.card {}


/*Button */

.big-button {
    display: inline-block;
    color: var(--primary-background-color);
    background: var(--accent-color);
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    padding: 10px 32px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
}

.footer-button {
    display: inline-block;
    color: var(--primary-background-color);
    background: var(--accent-color);
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    padding-left: 26px;
    padding-right: 62px;
    padding-top: 10px;
    padding-bottom: 10px;
    bowrder-radius: 4px;
    margin-top: 93px;
}

ul.advantages {
    display: flex;
    text-align: left;
}

a.feedbeack-footer {
    color: var(--title-text-grey);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    margin-bottom: 9px;
}

li.footer-adress {
    margin-bottom: 9px;
}

ul.comand {
    display: flex;
    margin-left: 0px;
    margin-top: 50px;
    margin-left: 0px;
    padding-left: 0px;
}

ul.social-icons {
    padding: 0;
    display: inline-block;
    text-align: ;
}


/*button portfolio*/

.button {
    display: inline-block;
    color: var(--primary-background-color);
    background: var(--accent-color);
    text-decoration: none;
    color: var(--title-text-color);
    background: var(--primary-background-button);
    font-family: Roboto;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.03em;
    text-decoration: none;
    padding: 6px 22px;
    margin-right: 8px;
    border-radius: 4px;
}

.button:hover {
    color: var(--primary-background-color);
    background: var(--accent-color);
}

.button:focus {
    color: var(--title-text-grey);
    background: var(--primary-background-color);
}


/*content*/

.content {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
}


/*Paragraph*/

.p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}


/*footer*/

.page-footer {
    background: #2f303a;
    padding-top: 48px;
    padding-bottom: 21px;
}

.logo-footer {
    color: #ffffff;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 31px;
    text-decoration: none;
    margin-bottom: 10px;
    margin-left: 0px;
}

.adress {
    color: #ffffff;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin-left: 0px;
    margin-bottom: 9px;
    padding-left: 0;
    margin-top: 9px;
}

.social {
    color: rgba(255, 255, 255, 0.6);
}

.text-footer {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
}

.logo-footer {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-decoration: none;
    color: var(--primary-background-button);
}


/*site nav*/

.site-nav {
    display: flex;
}

.link {
    color: #212121;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 0;
}

.site-nav.link {
    color: #212121;
    padding-top: 32px;
    padding-bottom: 32px;
}

a.link {
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
}

.site-nav li {
    margin-right: 50px;
}

ul.site-nav.list {
    margin: 0px 0px 0px 0px;
}

ul.contacts {
    padding-left: 0px;
}

.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

li.auth-nav {
    display: flex;
    text-decoration: none;
    margin-left: 50px;
    margin-right: 0px;
}

.site-nav .link:hover {
    color: #2196f3;
}

.site-nav .link:focus {
    color: var(--primary-background-button);
}

.site-nav .link:active {
    color: var(--accent-color);
}


/*feedbeack*/

.feedbeack {
    color: var(--title-text-grey);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    margin-right: 0px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 32px;
    padding-bottom: 32px;
}

ul.auth-nav {
    display: flex;
    margin-left: auto;
    padding: 0px;
    align-items: center;
}

.feedbeack:hover {
    color: #2196f3;
}

.feedbeack:focus {
    color: var(--primary-background-button);
}

.section p {
    margin-top: 0px;
    margin-bottom: 0px;
}

ul {
    list-style-type: none;
}

.comand p {
    margin-bottom: 0px;
    margin-top: 0px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
    border: 2 px solid tomato;
    padding-right: 15px;
    padding-left: 15px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.hero {
    text-align: center;
}

h1 {
    margin-top: 0;
    margin-bottom: 40;
    margin-left: auto;
    margin-right: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    margin-bottom: 40px;
    text-align: center;
    padding-bottom: 0px;
    padding-top: 0px;
}

h2 {
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.06em;
    text-align: center;
}

h3 {
    font-family: roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    margin-top: 0;
    margin-bottom: 0px;
    marker: none;
}

h3.specifical {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #757575;
    text-align: center;
}

h3.name {
    text-align: center;
}

.hero-section {
    padding-top: 200px;
}

.section-clients {
    display: flex;
    padding-top: 94px;
    padding-bottom: 94px;
}

.container-workers {
    background-color: #f5f4fa;
}

.work-section {
    padding-bottom: 94px;
    padding-top: 50px;
    display: flex;
}


/*Button*/

.big-button {
    display: inline-block;
    color: var(--primary-background-color);
    background: var(--accent-color);
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    padding: 10px 32px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 200px;
}

ul.clients-logo {
    display: flex;
    padding: 0px;
    text-align: c;
}

ul.advantages {
    margin: 0px;
    padding: 0px;
}

li.advan {
    margin-right: 30px;
    text-align: left;
}

.clients {
    border: 1px solid #afb1b8;
    box-sizing: border-box;
    border-radius: 4px;
    image-orientation: ;
    margin-right: 30px;
}

.button {
    color: var(--title-text-color);
    background: var(--primary-background-button);
    font-family: Roboto;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.03em;
    text-decoration: none;
    padding: 6px 22px;
    border-radius: 4px;
}

.menu-button {
    padding-top: 93px;
    padding-bottom: 50px;
}

.button:hover {
    color: var(--primary-background-color);
    background: var(--accent-color);
}

.button:focus {
    color: var(--title-text-grey);
    background: var(--primary-background-color);
}


/*content*/

.content {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #212121;
}


/*Paragraph*/

.paragraph {
    color: var(--title-text-grey);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
}

.clients {
    display: flex;
}


/*footer*/

.footer {
    background: #2f303a;
    padding-top: 48px;
    padding-bottom: 21px;
}

ul.footer-icon {
    display: flex;
    align-items: center;
    padding-left: 0px;
}

.text-footer .footer {
    background-color: #2f303a;
    padding-top: 48px;
    padding-bottom: 21px;
}

.copy-right {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
}